[submodule "src/client/GeniusClient"]
	path = src/client/GeniusClient
	url = https://github.com/deadmarston/GeniusClient.git
[submodule "src/server/thirdparty/spdlog"]
	path = src/server/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
